{% extends 'core/base.html' %}

{% block titulo %}
  {% include 'core/components/titulo1.html' with titulo="Producto" %}
{% endblock titulo %}

{% block contenido %}
  <div class="fs-3 py-4">
    <a href="{% url 'producto:productocategoria_create' %}">Crear Categoría de Productos</a>
  </div>
  <div class="fs-3 py-4">
    <a href="{% url 'producto:productocategoria_list' %}">Listar Categorías de Productos</a>
  </div>
  <div class="fs-3 py-4">
    <a href="{% url 'core:home' %}">Volver a Inicio</a>
  </div>
{% endblock contenido %}