{% extends 'core/base.html' %}

{% block titulo %}
  {% include 'core/components/titulo1.html' with titulo="Productos: Cambiar Categoria de Productos" %}
{% endblock titulo %}

{% block contenido %}

  <form method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
  <div class="fs-3 py-4">
    <a class="btn btn-primary" href="{% url 'producto:productocategoria_list' %}">Volver</a>
  </div>
{% endblock contenido %}