{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
  {% include 'core/components/titulo1.html' with titulo="App Coder" %}
{% endblock titulo %}

{% block contenido %}
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
      <img
        class="img-fluid rounded mb-4 mb-lg-0"
        src="{% static 'core/img/pandora.jpg' %}"
        alt="..."
      />
    </div>
    <div class="col-lg-5">
      <h1 class="font-weight-light">La Caja de Pandora</h1>
      <p>
        Sumérgete en un Universo de Mitos Fascinantes y Revela los Misterios que Han Cautivado a la Humanidad Durante Milenios. Descubre la Verdad Tras el Legendario Objeto y Enfrenta las Eternas Dicotomías de la Condición Humana en un Viaje Épico a Través de la Sabiduría Ancestral. Visitanos!
      </p>
      <a class="btn btn-primary" href="https://wa.me/51960244650" target="_blank">WhatsApp</a>
    </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">
        This call to action card is a great place to showcase some important
        information or display a clever tagline!
      </p>
    </div>
  </div>
  <!-- Content Row-->
  <div class="row gx-4 gx-lg-5">
    {% include 'core/components/card.html' with titulo="Tarjeta 1" texto="Promociones" %}
    {% include 'core/components/card.html' with titulo="Tarjeta 2" texto="Promociones" %}
    {% include 'core/components/card.html' with titulo="Tarjeta 3" texto="Promociones" %}
    {% include 'core/components/card.html' with titulo="Tarjeta 4" texto="Promociones" %}
    {% include 'core/components/card.html' with titulo="Tarjeta 5" texto="Promociones" %}
    {% include 'core/components/card.html' with titulo="Tarjeta 6" texto="Promociones" %}
  </div>  
  <a href="{% url 'cliente:home' %}">Ir a Cliente</a>
  <a href="{% url 'producto:home' %}">Ir a Producto</a>
{% endblock contenido %}
